<template lang="html">
    <v-app>
        <v-main>
            <header-tokoplas />
            <header-mobile />
            <main id="homepage-tokoplas">
            <div class="ps-page--single">
                <bread-crumb :breadcrumb="breadCrumb" layout="fullwidth" />
                <img src="~/static/img/bg/Background.png" alt="" />
                <div class="ps-banner__featured">
                    <h3>Expand your options and trade with Tokoplas</h3>
                    <p>Tokoplas offers petrochemical products such as polyethylene and polypropylene for thousands of companies looking for raw materials.</p>
                </div>
                <all-applications />
                <related-product
                    v-if="collections !== null"
                    layout="fullwidth"
                    collection-slug="shop-recommend-items"
                />
                <footer-tokoplas />
            </div>
            </main>
        </v-main>
    </v-app>
</template>
<script>
import { mapState } from 'vuex';
import FooterTokoplas from '~/components/shared/footers/FooterTokoplas';
import BreadCrumb from '~/components/elements/BreadCrumb';
import HeaderTokoplas from '~/components/shared/headers/HeaderTokoplas';
import HeaderMobile from '~/components/shared/mobile/HeaderMobile';
import MobileDrawer from '~/components/shared/mobile/MobileDrawer';
import Product from '~/components/partials/homepage/default/Product';
import AllApplications from '~/components/partials/features/AllApplications';
import RelatedProduct from '~/components/partials/product/RelatedProduct';

export default {
    components: {
        Product,
        MobileDrawer,
        HeaderMobile,
        HeaderTokoplas,
        FooterTokoplas,
        BreadCrumb,
        AllApplications,
        RelatedProduct
    },

    transition: 'zoom',

    computed: {
        ...mapState({
            collections: state => state.collection.collections
        })
    },
    
    async created() {
        const queries = ['shop-recommend-items'];
        await this.$store.dispatch('collection/getCollectionsBySlugs', queries);
    },

    data() {
        return {
            widgetLoading: true,
            breadCrumb: [
                {
                    text: 'Home',
                    url: '/'
                },
                {
                    text: 'All Applications'
                }
            ]
        };
    },
};
</script>
<style lang="scss">
@import '~/assets/scss/tokoplas.scss';
</style>

