<template lang="html">
    <ul class="ps-list--applinks">
        <li class="active">
            <nuxt-link to="/blog" class="ps-btn--outline">
                <a>All</a>
            </nuxt-link>
        </li>
        <li>
            <nuxt-link to="/blog" class="ps-btn--outline">
                <a>Blow</a>
            </nuxt-link>
        </li>
        <li>
            <nuxt-link to="/blog" class="ps-btn--outline">
                <a>Injection</a>
            </nuxt-link>
        </li>
        <li>
            <nuxt-link to="/blog" class="ps-btn--outline">
                <a>Lamination</a>
            </nuxt-link>
        </li>
        <li>
            <nuxt-link to="/blog" class="ps-btn--outline">
                <a>Thermoforming</a>
            </nuxt-link>
        </li>
        <li>
            <nuxt-link to="/blog" class="ps-btn--outline">
                <a>Rotational Moulding</a>
            </nuxt-link>
        </li>
        <li>
            <nuxt-link to="/blog" class="ps-btn--outline">
                <a>Yarn</a>
            </nuxt-link>
        </li>
        <li>
            <nuxt-link to="/blog" class="ps-btn--outline">
                <a>Monofilament</a>
            </nuxt-link>
        </li>
        <li>
            <nuxt-link to="/blog" class="ps-btn--outline">
                <a>Extrusion</a>
            </nuxt-link>
        </li>
    </ul>
</template>

<script>
export default {
    name: 'AppLinks'
};
</script>

<style lang="scss" scoped></style>
