.ps-banner--market-4 {
    position: relative;

    h4 {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
        font-size: 14px;
        color: $color-grey;
    }

    h3 {
        font-size: 36px;
        font-weight: 300;
        line-height: 1.2em;

        strong {
            line-height: 1.5em;
            font-weight: 600;
            font-size: 38px;
            color: $color-1st;
        }
    }

    .ps-btn {
        margin-top: 20px;
        padding: 12px 24px;
        color: $color-white;
    }

    .ps-banner__content {
        max-width: 1200px;
        width: 50%;
        @include center();
        transform: translate(-100%, -50%);
        padding-left: 140px;
    }

    @media (max-width: 1680px) {
        h4 {
            margin-bottom: 10px;
        }
        h3 {
            font-size: 40px;
            line-height: 1.2em;
        }
    }
    @media (max-width: 1366px) {
        h4 {
            margin-bottom: 10px;
            font-size: 16px;
        }
        h3 {
            font-size: 40px;

            br {
                display: none;
            }
        }
    }
    @include media('<lg') {
        min-height: 400px;
        // img {
        //     display: none;
        //     @include hidden;
        // }
        .ps-banner__content {
            padding: 0 30px;
        }
    }
    @include media('<xs') {
        h3 {
            font-size: 24px;
        }
        p {
            font-size: 12px;
        }
    }
}
