$font-1st: 'Montserrat', sans-serif;
$font-2nd: 'Libre Baskerville', serif;
$font-3rd: 'Playfair Display', serif;
$home: true !default;

$color-1st: #0A1C3B;
$color-2nd: #F67300;
$color-3rd: #08E8DE;
$color-dark: #161824;
$color-link: #6CC2BE;
$color-header: #E1EDF0;
$color-white: #fff;
$color-darkgrey: #3B4A61;
$color-grey: #9199A6;
$color-lightgrey: #C1C6CE;

$color-layout-2-1st: #dd2400;
$color-autopart: #dd2400;
$color-technology: #0071df;
$color-electronic: #dd2400;
$color-furniture: #fb7c00;
$color-organic: #5fa30f;
$color-kids: #3e81ac;
$color-photo: #c81919;
$color-heading: #0A1C3B;
$color-text:  #3B4A61;
$color-text-2: #C1C6CE;

$color-success: #669900;
$color-warning: #faa806;
$color-danger: #ec0101;
$color-gray: #9e9e9e;
$color-facebook: #3b5999;
$color-twitter: #55acee;
$color-google: #dd4b39;
$color-youtube: #ff0000;
$color-linkedin: #0077b5;
$color-instagram: #c32aa3;
$document-font-size: 14px;

$timing: cubic-bezier(0.77, 0, 0.175, 1);
$timing-1: cubic-bezier(0.7, 0, 0.3, 1);
$timing-2: cubic-bezier(0.2, 1, 0.3, 1);
