<template lang="html">
    <div class="header__actions">
        <div class="ps-block--user-header">
            <nuxt-link to="/" class="ps-block__left">
                <svg width="25" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.4099 9.81827C18.4099 11.1202 17.8927 12.3689 16.972 13.2895C16.0514 14.2101 14.8027 14.7274 13.5008 14.7274C12.1988 14.7274 10.9501 14.2101 10.0295 13.2895C9.10888 12.3689 8.59167 11.1202 8.59167 9.81827C8.59167 8.5163 9.10888 7.26765 10.0295 6.34702C10.9501 5.42639 12.1988 4.90918 13.5008 4.90918C14.8027 4.90918 16.0514 5.42639 16.972 6.34702C17.8927 7.26765 18.4099 8.5163 18.4099 9.81827ZM15.9553 9.81827C15.9553 10.4693 15.6967 11.0936 15.2364 11.5539C14.7761 12.0142 14.1518 12.2728 13.5008 12.2728C12.8498 12.2728 12.2255 12.0142 11.7651 11.5539C11.3048 11.0936 11.0462 10.4693 11.0462 9.81827C11.0462 9.16728 11.3048 8.54296 11.7651 8.08264C12.2255 7.62233 12.8498 7.36372 13.5008 7.36372C14.1518 7.36372 14.7761 7.62233 15.2364 8.08264C15.6967 8.54296 15.9553 9.16728 15.9553 9.81827Z" fill="#0A1C3B"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 0C6.04432 0 0 6.04432 0 13.5C0 20.9557 6.04432 27 13.5 27C20.9557 27 27 20.9557 27 13.5C27 6.04432 20.9557 0 13.5 0ZM2.45455 13.5C2.45455 16.065 3.32959 18.4263 4.79618 20.3015C5.82615 18.949 7.15488 17.8528 8.67858 17.0987C10.2023 16.3447 11.8797 15.9531 13.5798 15.9545C15.2579 15.953 16.9142 16.3344 18.4225 17.0699C19.9308 17.8053 21.2514 18.8754 22.2836 20.1985C23.347 18.8038 24.0629 17.1759 24.3723 15.4496C24.6816 13.7233 24.5754 11.9482 24.0625 10.271C23.5496 8.5939 22.6447 7.06301 21.4226 5.80505C20.2006 4.54708 18.6966 3.59819 17.035 3.0369C15.3734 2.4756 13.6021 2.31804 11.8676 2.57724C10.133 2.83644 8.48511 3.50496 7.06022 4.52747C5.63533 5.54999 4.4744 6.89711 3.67351 8.45738C2.87261 10.0176 2.45477 11.7462 2.45455 13.5ZM13.5 24.5455C10.9644 24.5493 8.50533 23.677 6.53891 22.0762C7.33041 20.9431 8.38391 20.0179 9.60978 19.3795C10.8356 18.741 12.1976 18.4081 13.5798 18.4091C14.9447 18.408 16.2902 18.7326 17.5045 19.3558C18.7188 19.9791 19.7669 20.8831 20.5617 21.9927C18.58 23.6455 16.0804 24.5491 13.5 24.5455Z" fill="#0A1C3B"/>
                </svg>
                <p>Account</p>
            </nuxt-link>
        </div>
        <nuxt-link to="/account/wishlist" class="header__extra">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="25px" viewBox="0 0 33 25" enable-background="new 0 0 33 25" xml:space="preserve">  <image id="image0" width="33" height="25" x="0" y="0"
                href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAZCAMAAACIE7edAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
            AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAbFBMVEUAAAAKHDoKHDsKHTsK
            HDoJHToJGzsIIDgIIToIGDgIGzoIHDwLHDwKHDsKGzsQEEAJGzoJGzkFGzUJHjkKGzsJHDoJHDsJ
            GzsLHTsKGzsKHDwKGzsLGzoQIEALHDoIHDgJHDoKGT0KHDv///88l/9gAAAAInRSTlMAf+/fgN9w
            IB8gYECQz88Q33Awb5+vv4+P34CgYBCQQLBQvYxVrwAAAAFiS0dEIypibDoAAAAJcEhZcwAACxMA
            AAsTAQCanBgAAAAHdElNRQfkCwQHLyibVdNgAAAAxklEQVQoz72S3RKCIBBGV7RssaJMqLTf7/0f
            skUdwmy4ajoXDMycYdmPJcoU5uQZBTJ8pwjGAstyzhIqGMCK5jDwB0NHDSUMIEsaviFUKUPWNRSn
            Ddpga9IG7yTbpEGVZJs2fC6/Moze10nj4ONrzGemlgdDwQLOAcdoPOp+7pTWJ5ypkG3r25rSGe76
            zYWoBeo+vglS4Sp3W/8xUqcK64iCiWfkhvxeNlLwjUPDpsFjPEr4nmdk8PBSDudOwVVxs8QWyg3C
            C03FIe6yTrYKAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIwLTExLTA0VDA3OjQ3OjM5KzAwOjAwXkm9
            +AAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMC0xMS0wNFQwNzo0NzozOSswMDowMC8UBUQAAAAASUVO
            RK5CYII=" />
            </svg>
            <span>
                <i>0</i>
            </span>
            <p>Truck</p>
        </nuxt-link>
    </div>
</template>

<script>
import MiniCart from '~/components/shared/headers/modules/MiniCart';
import AccountLinks from '~/components/partials/account/modules/AccountLinks';
export default {
    name: 'HeaderRight',
    components: { AccountLinks, MiniCart }
};
</script>

<style lang="scss" scoped></style>
