<template lang="html">
    <header
        class="header header--standard header--market-place-2"
        id="headerSticky"
    >
        <div class="header__content">
            <div class="container">
                <div class="header__content-left">
                    <nuxt-link to="/" class="ps-logo">
                        <img src="~/static/img/Logo Tokoplas Horizontal.png" alt="Tokoplas" />
                    </nuxt-link>
                </div>
                <div class="header__content-center">
                    <search-header />
                </div>
                <div class="header__content-right">
                    <header-right />
                </div>
            </div>
        </div>
        <nav class="navigation">
            <div class="container">
                <div class="menu--product -categories">
                    <ul class="menu menu-tokoplas">
                        <li class="menu-item">
                            <nuxt-link to="/">
                            <i class="icon-menu"></i>
                                Categories
                            </nuxt-link>
                            <!-- 
                            <div class="sub-menu">
                            <menu-categories-tokoplas />
                            </div>-->
                        </li>
                        <li class="menu-item">
                            <nuxt-link to="/">
                                HDPE
                            </nuxt-link>
                        </li>
                        <li class="menu-item">
                            <nuxt-link to="/">
                                LDPE
                            </nuxt-link>
                        </li>
                        <li class="menu-item">
                            <nuxt-link to="/">
                                LLDPE
                            </nuxt-link>
                        </li>
                        <li class="menu-item">
                            <nuxt-link to="/">
                                PP Homo
                            </nuxt-link>
                        </li>
                        <li class="menu-item">
                            <nuxt-link to="/">
                                PP COPO
                            </nuxt-link>
                        </li>
                        <li class="menu-item">
                            <nuxt-link to="/">
                                Recycled
                            </nuxt-link>
                        </li>
                        <!-- <li v-for="menuItem in menuMarket2" :key="menuItem.text">
                            <nuxt-link :to="menuItem.url">
                                <i class="{menuItem.icons}"></i>
                                {{ menuItem.text }}
                            </nuxt-link>
                        </li> -->
                    </ul>
                </div>
                <div class="navigation--right">
                    <ul class="menu menu-tokoplas-right">
                        <li class="menu-item-has-children">
                            <nuxt-link to="/">
                                Sell on Tokoplas
                            </nuxt-link>

                        </li>
                        <li class="menu-item">
                            <nuxt-link to="/">
                                <!-- English-IDR -->
                                <language-swicher />
                            </nuxt-link>
                            <!-- <div class="sub-menu">
                            </div> -->
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</template>

<script>
import CurrencyDropdown from '~/components/shared/headers/modules/CurrencyDropdown';
import LanguageSwicher from '~/components/shared/headers/modules/LanguageSwicher';
import MenuCategoriesTokoplas from '~/components/shared/menu/MenuCategoriesTokoplas';
import SearchHeader from '~/components/shared/headers/modules/SearchHeader';
import HeaderRight from '~/components/shared/headers/modules/HeaderRight';
import { stickyHeader } from '~/utilities/common-helpers';
export default {
    name: 'HeaderTokoplas',
    components: {
        HeaderRight,
        SearchHeader,
        MenuCategoriesTokoplas,
        LanguageSwicher,
        CurrencyDropdown
    },
    data() {
        return {
            menuMarket2: [
                {
                    icons: 'icon-menu',
                    text: 'Categories',
                    url: '/shop'
                },
                {
                    text: 'HDPE',
                    url: '/shop'
                },
                {
                    text: 'LDPE',
                    url: '/shop'
                },
                {
                    text: 'LLDPE',
                    url: '/shop'
                },
                {
                    text: 'PP Homo',
                    url: '/shop'
                },
                {
                    text: 'PP Como',
                    url: '/shop'
                },
                {
                    text: 'Recycled',
                    url: '/shop'
                },
            ]
        };
    },
    mounted() {
        window.addEventListener('scroll', stickyHeader);
    }
};
</script>

<style lang="scss" scoped></style>
