<template lang="html">
    <div class="ps-contact-form">
        <div class="container">
            <div class="ps-form--contact">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <form
                            class="ps-form--contact-us"
                            action="/"
                            method="get"
                        >
                            <h3>Contact Us</h3>
                            <p>
                                Please contact us via WA, phone, or email via
                                the below form if you have any questions,
                                comments, or suggestions.
                            </p>
                            <div class="row">
                                <div
                                    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 "
                                >
                                    <div class="form-group">
                                        <input
                                            class="form-control contact-us"
                                            type="text"
                                            placeholder="Name *"
                                        />
                                    </div>
                                </div>
                                <div
                                    class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 "
                                >
                                    <div class="form-group">
                                        <input
                                            class="form-control contact-us"
                                            type="email"
                                            placeholder="Email *"
                                        />
                                    </div>
                                </div>
                                <div
                                    class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 "
                                >
                                    <div class="form-group">
                                        <input
                                            class="form-control contact-us"
                                            type="text"
                                            placeholder="Telephone *"
                                        />
                                    </div>
                                </div>
                                <div
                                    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 "
                                >
                                    <div class="form-group">
                                        <textarea
                                            class="form-control"
                                            rows="5"
                                            placeholder="Comment *"
                                        ></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group submit">
                                <button class="ps-btn">Send Form</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                        <div class="info-contact-us">
                            <div class="row">
                                <div class="col-sm-2">
                                    <svg
                                        width="22"
                                        height="31"
                                        viewBox="0 0 22 31"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M11 0C4.91857 0 0 4.8515 0 10.85C0 18.9875 11 31 11 31C11 31 22 18.9875 22 10.85C22 4.8515 17.0814 0 11 0ZM11 14.725C9.95808 14.725 8.95883 14.3167 8.22208 13.59C7.48533 12.8633 7.07143 11.8777 7.07143 10.85C7.07143 9.82229 7.48533 8.83666 8.22208 8.10996C8.95883 7.38326 9.95808 6.975 11 6.975C12.0419 6.975 13.0412 7.38326 13.7779 8.10996C14.5147 8.83666 14.9286 9.82229 14.9286 10.85C14.9286 11.8777 14.5147 12.8633 13.7779 13.59C13.0412 14.3167 12.0419 14.725 11 14.725Z"
                                            fill="#F67300"
                                        />
                                    </svg>
                                </div>
                                <div class="col-md-10">
                                    <h5 class="mb-2">
                                        PT. Tokoplas Ecommerce Indonesia
                                    </h5>
                                    <h5>
                                        Jl. Cideng Barat No.17, RT.11/RW.1, Duri
                                        Pulo, Kecamatan Gambir, Jakarta Pusat,
                                        DKI Jakarta 10140
                                    </h5>

                                    <p class="mb-2">
                                        Monday - Friday | 08:30 - 17:30 WIB
                                        <br />
                                        Not applicable for weekends and public
                                        holidays
                                    </p>
                                    <hr />
                                </div>
                                <div class="col-sm-2 my-2">
                                    <svg
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M0.00481605 24L1.62722 18.0384C0.558181 16.2058 -0.00346876 14.1216 1.61187e-05 12C1.61187e-05 5.3724 5.37241 0 12 0C18.6276 0 24 5.3724 24 12C24 18.6276 18.6276 24 12 24C9.87934 24.0034 7.796 23.4422 5.96401 22.374L0.00481605 24ZM7.66921 6.3696C7.51425 6.37922 7.36282 6.42003 7.22401 6.4896C7.09384 6.56331 6.97501 6.65547 6.87121 6.7632C6.72721 6.8988 6.64561 7.0164 6.55801 7.1304C6.11451 7.70759 5.87594 8.4161 5.88001 9.14399C5.88241 9.73199 6.03601 10.3044 6.27601 10.8396C6.76681 11.922 7.57441 13.068 8.64121 14.13C8.89801 14.3856 9.14881 14.6424 9.41881 14.8812C10.7429 16.0469 12.3207 16.8876 14.0268 17.3364L14.7096 17.4408C14.9316 17.4528 15.1536 17.436 15.3768 17.4252C15.7263 17.4071 16.0675 17.3125 16.3764 17.148C16.5336 17.067 16.6869 16.979 16.836 16.884C16.836 16.884 16.8876 16.8504 16.986 16.776C17.148 16.656 17.2476 16.5708 17.382 16.4304C17.4816 16.3272 17.568 16.206 17.634 16.068C17.7276 15.8724 17.8212 15.4992 17.8596 15.1884C17.8884 14.9508 17.88 14.8212 17.8764 14.7408C17.8716 14.6124 17.7648 14.4792 17.6484 14.4228L16.95 14.1096C16.95 14.1096 15.906 13.6548 15.2688 13.3644C15.2016 13.3351 15.1296 13.3184 15.0564 13.3152C14.9743 13.3068 14.8913 13.316 14.8131 13.3423C14.7349 13.3686 14.6632 13.4113 14.6028 13.4676V13.4652C14.5968 13.4652 14.5164 13.5336 13.6488 14.5848C13.599 14.6517 13.5304 14.7023 13.4518 14.7301C13.3731 14.7578 13.288 14.7616 13.2072 14.7408C13.129 14.7199 13.0524 14.6934 12.978 14.6616C12.8292 14.5992 12.7776 14.5752 12.6756 14.5308L12.6696 14.5284C11.9831 14.2287 11.3475 13.8238 10.7856 13.3284C10.6344 13.1964 10.494 13.0524 10.35 12.9132C9.8779 12.4611 9.46647 11.9496 9.12601 11.3916L9.05521 11.2776C9.00436 11.201 8.96324 11.1184 8.93281 11.0316C8.88721 10.8552 9.00601 10.7136 9.00601 10.7136C9.00601 10.7136 9.29761 10.3944 9.43321 10.2216C9.54612 10.078 9.65146 9.92858 9.74881 9.77399C9.89041 9.54599 9.93481 9.31199 9.86041 9.13079C9.52441 8.30999 9.17641 7.49279 8.81881 6.6816C8.74801 6.5208 8.53801 6.4056 8.34721 6.3828C8.28241 6.3756 8.21761 6.3684 8.15281 6.3636C7.99166 6.35559 7.83017 6.35719 7.66921 6.3684V6.3696Z"
                                            fill="#F67300"
                                        />
                                    </svg>
                                </div>
                                <div class="col-md-10 my-2">
                                    <p class="mb-2">+62 21 2907 3222</p>
                                </div>
                                <div class="col-sm-2 my-2">
                                    <svg
                                        width="22"
                                        height="22"
                                        viewBox="0 0 22 22"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M20.79 15.1311C19.2867 15.1311 17.8322 14.8867 16.4756 14.4467C16.263 14.3746 16.0345 14.3639 15.8161 14.4158C15.5978 14.4677 15.3985 14.58 15.2411 14.74L13.3222 17.1478C9.86333 15.4978 6.62444 12.3811 4.90111 8.8L7.28444 6.77111C7.61444 6.42889 7.71222 5.95222 7.57778 5.52444C7.12556 4.16778 6.89333 2.71333 6.89333 1.21C6.89333 0.55 6.34333 0 5.68333 0H1.45444C0.794445 0 0 0.293333 0 1.21C0 12.5644 9.44778 22 20.79 22C21.6578 22 22 21.23 22 20.5578V16.3411C22 15.6811 21.45 15.1311 20.79 15.1311Z"
                                            fill="#F67300"
                                        />
                                    </svg>
                                </div>
                                <div class="col-md-10 my-2">
                                    <p>+62 813 8999 9779</p>
                                </div>
                                <div class="col-sm-2">
                                    <svg
                                        width="24"
                                        height="19"
                                        viewBox="0 0 24 19"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M24 0H0V19H24V0ZM21.6 4.75L12 10.6875L2.4 4.75V2.375L12 8.3125L21.6 2.375V4.75Z"
                                            fill="#F67300"
                                        />
                                    </svg>
                                </div>
                                <div class="col-md-10">
                                    <p>hello@tokoplas.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ContactUs'
};
</script>

<style lang="scss" scoped></style>
