<template lang="html">
    <div class="ps-block-content">
        <div class="ps-container">
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6 ">
                    <div class="ps-block--content categories">
                        <h4>Featured Categories</h4>
                        <div class="row mb-2">
                        <div class="col-md-6">
                            <nuxt-link to="/shop">
                            <p class="bg-firstcolor">PE</p>
                            </nuxt-link>
                        </div>
                        <div class="col-md-6">
                            <nuxt-link to="/shop">
                            <p class="bg-secondcolor">PP</p>
                            </nuxt-link>
                        </div>
                        <div class="col-md-6">
                            <nuxt-link to="/shop">
                            <p class="bg-thirdcolor">PET</p>
                            </nuxt-link>
                        </div>
                        <div class="col-md-6">
                            <nuxt-link to="/shop">
                            <p class="bg-fourthcolor">PVC</p>
                            </nuxt-link>
                        </div>
                        </div>
                        <nuxt-link to="/featured/categories" class="ps-btn--outline">
                            VIEW ALL CATEGORIES
                        </nuxt-link>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6 ">
                    <div class="ps-block--content brands">
                        <h4>Featured Brands</h4>
                        <div class="row mb-2">
                        <div class="col-md-6">
                        <nuxt-link to="/shop">
                            <img class="img-style"
                            src="~/static/img/brands/pertamina.png"
                            alt="martfury"
                        />
                        </nuxt-link>
                        </div>
                        <div class="col-md-6">
                            <img class="img-style"
                            src="~/static/img/brands/petronas.png"
                            alt="martfury"
                        />
                        </div>
                        <div class="col-md-6">
                            <img class="img-style"
                            src="~/static/img/brands/scg.png"
                            alt="martfury"
                        />
                        </div>
                        <div class="col-md-6">
                            <img class="img-style"
                            src="~/static/img/brands/tpc.png"
                            alt="martfury"
                        />
                        </div>
                        </div>
                        <nuxt-link to="/featured/brands" class="ps-btn--outline">
                            VIEW ALL BRANDS
                        </nuxt-link>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6 ">
                    <div class="ps-block--content applications">
                        <h4>Featured Applications</h4>
                        <div class="row mb-2">
                        <div class="col-md-6">
                            <img
                            src="~/static/img/categories/3.jpg"
                            alt="martfury"
                        />
                        </div>
                        <div class="col-md-6">
                            <img
                            src="~/static/img/categories/3.jpg"
                            alt="martfury"
                        />
                        </div>
                        <div class="col-md-6">
                            <img
                            src="~/static/img/categories/3.jpg"
                            alt="martfury"
                        />
                        </div>
                        <div class="col-md-6">
                            <img
                            src="~/static/img/categories/3.jpg"
                            alt="martfury"
                        />
                        </div>
                        </div>
                        <nuxt-link to="/featured/applications" class="ps-btn--outline">
                            VIEW ALL APPLICATIONS
                        </nuxt-link>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6 ">
                    <div class="ps-block--content paylater">
                        <h4>Buy Now, Pay Later</h4>
                        <div class="row">
                        <div class="col-md-12">
                            <img
                            src="~/static/img/ads/Ads.png"
                            alt="martfury"
                        />
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'HomeBlockContent'
};
</script>

<style lang="scss" scoped></style>
