<template lang="html">
    <div class="ps-promotions my-15">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 my-5">
                    <div class="ps-banner__content">
                        <img
                            src="~/static/img/callout/buyer callout.png"
                            alt="martfury"
                        />
                        <div class="ps-text__banner">
                            <div class="col-md-8">
                            <h3>Start Buying at Tokoplas</h3>
                                <p>Discover a new way to trade petrochemical feedstock by contacting one of our staff today. We’ll take care of the rest.</p>
                            <a href="/" class="ps-btn__callout">
                                REGISTER AS BUYER
                            </a>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 my-5">
                    <div class="ps-banner__content">
                        <img
                            src="~/static/img/callout/seller callout.png"
                            alt="martfury"
                        />
                    <div class="ps-text__banner">
                            <div class="col-md-8">
                            <h3>Start Selling at Tokoplas</h3>
                                <p>Discover a new way to trade petrochemical feedstock by contacting one of our staff today. We’ll take care of the rest.</p>
                            <a href="/" class="ps-btn__callout">
                                REGISTER AS SELLER
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'TokoplasCallout'
};
</script>

<style lang="scss" scoped></style>
