<template lang="html">
    <div class="ps-section--data my-5">
        <div class="container">
            <h3>Our Latest Data and Information</h3>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                    <div class="ps-layout--data">
                        <div class="ps-layout__header">
                            <h4>Industry Insights</h4>
                            <div class="ps-layout__right">
                                <nuxt-link to="/" class="ps-link">
                                    Read more >
                                </nuxt-link>
                            </div>
                        </div>
                        <div class="ps-block--data">
                            <div class="ps-block__content">
                                <h6>October Weekly Industry Report</h6>
                                <p>Reach more customers through a single platform and maximize your sales on this October.</p>
                            </div>
                            <div class="ps-block__thumbnail">
                                <img src="~/static/img/data/Icon data.png" class="img-data">
                            </div>
                        </div>
                        <div class="ps-block--data">
                            <div class="ps-block__content">
                                <h6>October Weekly Industry Report</h6>
                                <p>Reach more customers through a single platform and maximize your sales on this October.</p>
                            </div>
                            <div class="ps-block__thumbnail">
                                <img src="~/static/img/data/Icon data.png" class="img-data">
                            </div>
                        </div>
                        <div class="ps-block--data">
                            <div class="ps-block__content">
                                <h6>October Weekly Industry Report</h6>
                                <p>Reach more customers through a single platform and maximize your sales on this October.</p>
                            </div>
                            <div class="ps-block__thumbnail">
                                <img src="~/static/img/data/Icon data.png" class="img-data">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                    <div class="ps-layout--data">
                        <div class="ps-layout__header">
                            <h4>Market Price Trend</h4>
                        </div>
                        <div class="ps-block--market">
                            <div class="ps-product__content">
                                <v-tabs background-color="#0A1C3B" color="white" class="ps-tab-list">
                                    <v-tab :ripple="false" tag="li">
                                        <a class="list-item">Resin</a>
                                    </v-tab>
                                    <v-tab :ripple="false" tag="li">
                                        <a class="list-item">Crude Oil</a>
                                    </v-tab>
                                    <v-tab :ripple="false" tag="li">
                                        <a class="list-item">
                                            Brent Oil
                                        </a>
                                    </v-tab>
                                    <v-tab :ripple="false" tag="li">
                                        <a class="list-item">Naphtha</a>
                                    </v-tab>
                                    <v-tab :ripple="false" tag="li">
                                        <a class="list-item">USD/IDR</a>
                                    </v-tab>
                                    <v-tab-item>
                                        <div class="tab-content">
                                            <p>Description</p>
                                        </div>
                                    </v-tab-item>

                                    <v-tab-item>
                                        <div class="tab-content">
                                            Specification
                                        </div>
                                    </v-tab-item>

                                    <v-tab-item>
                                        <div class="tab-content">
                                            vendor
                                        </div>
                                    </v-tab-item>

                                    <v-tab-item>
                                        <div class="tab-content">
                                            review
                                        </div>
                                    </v-tab-item>
                                    <v-tab-item>
                                        <div class="tab-content">
                                            offers
                                        </div>
                                    </v-tab-item>
                                </v-tabs>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'TokoplasData'
};
</script>

<style lang="scss" scoped></style>
