<template lang="html">
    <div class="ps-site-features">
        <div class="container">
            <div class="ps-block--site-features ps-block--site-features-2">
                <div class="ps-block__item">
                    <div class="ps-block__left">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="25px" viewBox="0 0 33 25" enable-background="new 0 0 33 25" xml:space="preserve">  <image id="image0" width="33" height="25" x="0" y="0"
                            href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAZCAMAAACIE7edAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
                        AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAbFBMVEUAAAAKHDoKHDsKHTsK
                        HDoJHToJGzsIIDgIIToIGDgIGzoIHDwLHDwKHDsKGzsQEEAJGzoJGzkFGzUJHjkKGzsJHDoJHDsJ
                        GzsLHTsKGzsKHDwKGzsLGzoQIEALHDoIHDgJHDoKGT0KHDv///88l/9gAAAAInRSTlMAf+/fgN9w
                        IB8gYECQz88Q33Awb5+vv4+P34CgYBCQQLBQvYxVrwAAAAFiS0dEIypibDoAAAAJcEhZcwAACxMA
                        AAsTAQCanBgAAAAHdElNRQfkCwQHLyibVdNgAAAAxklEQVQoz72S3RKCIBBGV7RssaJMqLTf7/0f
                        skUdwmy4ajoXDMycYdmPJcoU5uQZBTJ8pwjGAstyzhIqGMCK5jDwB0NHDSUMIEsaviFUKUPWNRSn
                        Ddpga9IG7yTbpEGVZJs2fC6/Moze10nj4ONrzGemlgdDwQLOAcdoPOp+7pTWJ5ypkG3r25rSGe76
                        zYWoBeo+vglS4Sp3W/8xUqcK64iCiWfkhvxeNlLwjUPDpsFjPEr4nmdk8PBSDudOwVVxs8QWyg3C
                        C03FIe6yTrYKAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIwLTExLTA0VDA3OjQ3OjM5KzAwOjAwXkm9
                        +AAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMC0xMS0wNFQwNzo0NzozOSswMDowMC8UBUQAAAAASUVO
                        RK5CYII=" />
                        </svg>
                    </div>
                    <div class="ps-block__right">
                        <h4>Free Delivery</h4>
                        <p>For all orders over 5 tons across Indonesia</p>
                    </div>
                </div>
                <div class="ps-block__item">
                    <div class="ps-block__left">
                        <i class="icon-sync"></i>
                    </div>
                    <div class="ps-block__right">
                        <h4>Quantity Discount</h4>
                        <p>Various financing options at competitive interest</p>
                    </div>
                </div>
                <div class="ps-block__item">
                    <div class="ps-block__left">
                        <i class="icon-credit-card"></i>
                    </div>
                    <div class="ps-block__right">
                        <h4>Flexible Delivery</h4>
                        <p>Deliver your products on anytime at your convenience</p>
                    </div>
                </div>
                <div class="ps-block__item">
                    <div class="ps-block__left">
                        <i class="icon-bubbles"></i>
                    </div>
                    <div class="ps-block__right">
                        <h4>Request for Quote (RFQ)</h4>
                        <p>Dedicated support to help streamline your order</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'TokoplasFeature'
};
</script>

<style lang="scss" scoped></style>
