<template lang="html">
    <v-app>
        <v-main>
            <header-tokoplas />
            <header-mobile />
            <div class="ps-page--single">
                <bread-crumb :breadcrumb="breadCrumb" layout="fullwidth" />
                <img src="~/static/img/bg/Background Listing Product.png" alt="" />
                <div class="ps-banner__product">
                    <h3>HDPE</h3>
                    <p>HDPE (High Density Polyethylene) is a thermoplastic polyethylene that is made of natural gas and commonly used to make bottles, chemical bottles, household equipment, trash bins, pallets and others.</p>
                </div>
                <div class="ps-page--shop" id="shop-sidebar">
                    <div class="container">
                        <div class="ps-layout--shop">
                            <div class="ps-layout__left">
                                <shop-widget
                                    v-if="categories !== null && brands !== null"
                                />
                            </div>
                            <div class="ps-layout__right">
                                <layout-shop-sidebar v-if="collections !== null" />
                            </div>
                        </div>
                    </div>
                </div>
                <related-product
                    v-if="collections !== null"
                    layout="fullwidth"
                    collection-slug="shop-recommend-items"
                />
                <footer-tokoplas />
            </div>
            </main>
        </v-main>
    </v-app>
</template>
<script>
import { mapState } from 'vuex';
import FooterTokoplas from '~/components/shared/footers/FooterTokoplas';
import HeaderTokoplas from '~/components/shared/headers/HeaderTokoplas';
import HeaderMobile from '~/components/shared/mobile/HeaderMobile';
import MobileDrawer from '~/components/shared/mobile/MobileDrawer';
import BreadCrumb from '~/components/elements/BreadCrumb';
import RelatedProduct from '~/components/partials/product/RelatedProduct';
import ShopWidget from '~/components/partials/shop/modules/ShopWidget';
import LayoutShopSidebar from '~/components/partials/shop/LayoutShopSidebar';

export default {
    components: {
        MobileDrawer,
        HeaderMobile,
        HeaderTokoplas,
        FooterTokoplas,
        RelatedProduct,
        BreadCrumb,
        LayoutShopSidebar,
        ShopWidget
    },

    transition: 'zoom',

    computed: {
        ...mapState({
            collections: state => state.collection.collections,
            categories: state => state.product.categories,
            brands: state => state.product.brands
        })
    },

    async created() {
        const queries = ['shop-recommend-items'];
        await this.$store.dispatch('collection/getCollectionsBySlugs', queries);
        const params = {
            _start: 1,
            _limit: 12
        };
        const collectionsParams = [
            'shop_best_sale_items',
            'shop-recommend-items'
        ];
        const collections = await this.$store.dispatch(
            'collection/getCollectionsBySlugs',
            collectionsParams
        );
        const products = await this.$store.dispatch(
            'product/getProducts',
            params
        );
        const brands = await this.$store.dispatch(
            'product/getProductBrands',
            params
        );
        const categories = await this.$store.dispatch(
            'product/getProductCategories',
            params
        );
    },
    data() {
        return {
            widgetLoading: true,
            breadCrumb: [
                {
                    text: 'Home',
                    url: '/'
                },
                {
                    text: 'Product Listing'
                }
            ]
        };
    },
};
</script>
<style lang="scss">
@import '~/assets/scss/tokoplas.scss';
</style>
