<template lang="html">
    <header class="header header--mobile">
        <div class="navigation--mobile">
            <div class="navigation__left">
                <nuxt-link to="/" class="ps-logo">
                    <img src="~/static/img/Icon Tokoplas.png" alt="martfury" />
                </nuxt-link>
            </div>
            <div class="header__content-center">
                <search-header-mobile />
            </div>
            <mobile-header-actions />
        </div>
    </header>
</template>

<script>
import MobileHeaderActions from '~/components/shared/mobile/modules/MobileHeaderActions';
import SearchHeaderMobile from '~/components/shared/mobile/modules/SearchHeaderMobile';
export default {
    name: 'HeaderMobile',
    components: { MobileHeaderActions,SearchHeaderMobile }
};
</script>

<style lang="scss" scoped></style>
