<template lang="html">
    <section class="ps-home-banner">
        <div
            class="ps-carousel ps-carousel--boxed"
            v-swiper:mySwiper="swiperOption"
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div
                        class="ps-banner--market-4"
                        :style="{
                            backgroundImage: `url(/img/banner/Banner Tokoplas 2.png)`
                        }"
                    >
                        <img
                            src="~/static/img/banner/Banner Tokoplas 2.png"
                            alt="martfury"
                        />
                        <div class="ps-banner__content">
                            <h3><strong>
                                Your Favorit Resin
                                Delivered to your Dropstep</strong>
                            </h3>
                            <h4>Tokoplas offers petrochemical products such as polypropylene and polyethylene for companies with hundreds of suppliers looking to purchase plastic.</h4>
                            <a class="ps-btn" href="#">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div
                        class="ps-banner--market-4"
                        :style="{
                            backgroundImage: `url(/img/banner/Banner Tokoplas 2.png)`
                        }"
                    >
                        <img
                            src="~/static/img/banner/Banner Tokoplas 2.png"
                            alt="martfury"
                        />
                        <div class="ps-banner__content">
                            <h3><strong>
                                Your Favorit Resin
                                Delivered to your Dropstep</strong>
                            </h3>
                            <h4>Tokoplas offers petrochemical products such as polypropylene and polyethylene for companies with hundreds of suppliers looking to purchase plastic.</h4>
                            <a class="ps-btn" href="#">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Carousel controls-->
            <div class="swiper-nav">
                <span class="swiper-arrow swiper-prev">
                    <i class="icon-chevron-left"></i>
                </span>
                <div class="swiper-arrow swiper-next">
                    <i class="icon-chevron-right"></i>
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-bullets"></div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'MarketPlace4Banner',
    data() {
        return {
            swiperOption: {
                loop: true,
                slidesPerView: 1,
                spaceBetween: 1,
                navigation: {
                    nextEl: '.ps-carousel--boxed .swiper-prev',
                    prevEl: '.ps-carousel--boxed .swiper-next'
                }
            }
        };
    }
};
</script>

<style lang="scss" scoped></style>
