.ps-banner {
    position: relative;
}

.ps-banner--1 {
    position: relative;
    p {
        color: #0099cc;
        font-size: 16px;
    }
    h4 {
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 500;
        color: $color-heading;
        line-height: 1.1em;
        strong {
            color: rgb(102, 153, 0);
        }
    }
    .ps-btn {
        padding: 11px 24px;
        font-weight: 600;
    }
    .ps-banner__content {
        @include vertical-align();
        left: 0;
        width: 100%;
        padding: 0 240px;
    }

    @media (max-width: 1680px) {
        .ps-banner__content {
            padding: 0 50px;
        }
        
    }

}

.ps-banner__callout {
    @include vertical-align();
    left: 0;
    width: 100%;
    padding: 0 240px;

}

.ps-banner__product {
    position: absolute;
    top: 7%;
    right: 50%;
    padding: 0 55px;
}

.ps-banner__featured {
    position: absolute;
    top: 250px;
    right: 55%;
    padding: 0 55px;

    h3 {
        color: $color-white;
    }

    p{
        font-size: 12px;
        font-weight: 300;
        color: $color-lightgrey;
    }
}

.ps-text__banner{
    position: absolute;
    bottom: 65px;
    left: 25px;
    padding: 15px;
    margin: 0 65px 0 0;

    @include media('<sm') {
        bottom: 10px;

        h3 {
            font-size: 20px;
            font-weight: 600;
        }
        
        p{
            font-size: 12px;
            font-weight: 300;
        }
    }
}
