<template lang="html">
    <div class="ps-footer__copyright">
    <p><ul class="ps-list--social">
        <li>
            <a class="instagram" href="#">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.6875 15C19.6875 16.2432 19.1936 17.4355 18.3146 18.3146C17.4355 19.1936 16.2432 19.6875 15 19.6875C13.7568 19.6875 12.5645 19.1936 11.6854 18.3146C10.8064 17.4355 10.3125 16.2432 10.3125 15C10.3125 14.7328 10.3406 14.4719 10.3891 14.2187H8.75V20.4641C8.75 20.8984 9.10156 21.25 9.53594 21.25H20.4656C20.6738 21.2496 20.8733 21.1666 21.0204 21.0193C21.1674 20.8719 21.25 20.6722 21.25 20.4641V14.2187H19.6109C19.6594 14.4719 19.6875 14.7328 19.6875 15ZM15 18.125C15.4105 18.1249 15.8169 18.0439 16.1961 17.8868C16.5753 17.7296 16.9198 17.4993 17.21 17.2089C17.5002 16.9186 17.7304 16.574 17.8874 16.1947C18.0444 15.8154 18.1251 15.4089 18.125 14.9984C18.1249 14.588 18.0439 14.1815 17.8868 13.8023C17.7296 13.4231 17.4993 13.0786 17.2089 12.7884C16.9186 12.4982 16.574 12.2681 16.1947 12.1111C15.8154 11.9541 15.4089 11.8733 14.9984 11.8734C14.1694 11.8736 13.3745 12.2032 12.7884 12.7895C12.2024 13.3759 11.8732 14.171 11.8734 15C11.8736 15.829 12.2032 16.624 12.7895 17.21C13.3759 17.7961 14.171 18.1252 15 18.125ZM18.75 11.7187H20.6234C20.7479 11.7188 20.8673 11.6694 20.9554 11.5816C21.0436 11.4937 21.0933 11.3745 21.0937 11.25V9.37656C21.0937 9.25183 21.0442 9.1322 20.956 9.044C20.8678 8.9558 20.7482 8.90625 20.6234 8.90625H18.75C18.6253 8.90625 18.5056 8.9558 18.4174 9.044C18.3292 9.1322 18.2797 9.25183 18.2797 9.37656V11.25C18.2812 11.5078 18.4922 11.7187 18.75 11.7187ZM15 0C11.0218 0 7.20644 1.58035 4.3934 4.3934C1.58035 7.20644 0 11.0218 0 15C0 18.9782 1.58035 22.7936 4.3934 25.6066C7.20644 28.4196 11.0218 30 15 30C16.9698 30 18.9204 29.612 20.7403 28.8582C22.5601 28.1044 24.2137 26.9995 25.6066 25.6066C26.9995 24.2137 28.1044 22.5601 28.8582 20.7403C29.612 18.9204 30 16.9698 30 15C30 13.0302 29.612 11.0796 28.8582 9.25975C28.1044 7.43986 26.9995 5.78628 25.6066 4.3934C24.2137 3.00052 22.5601 1.89563 20.7403 1.14181C18.9204 0.387986 16.9698 0 15 0ZM22.8125 21.0766C22.8125 22.0312 22.0312 22.8125 21.0766 22.8125H8.92344C7.96875 22.8125 7.1875 22.0312 7.1875 21.0766V8.92344C7.1875 7.96875 7.96875 7.1875 8.92344 7.1875H21.0766C22.0312 7.1875 22.8125 7.96875 22.8125 8.92344V21.0766Z" fill="white"/>
                </svg>
            </a>
        </li>
        <li>
            <a class="twitter" href="#">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 0C6.71562 0 0 6.71562 0 15C0 23.2844 6.71562 30 15 30C23.2844 30 30 23.2844 30 15C30 6.71562 23.2844 0 15 0ZM21.1016 12.2875C21.1078 12.4156 21.1094 12.5437 21.1094 12.6687C21.1094 16.575 18.1391 21.0766 12.7047 21.0766C11.0989 21.0792 9.52651 20.618 8.17656 19.7484C8.40625 19.7766 8.64219 19.7875 8.88125 19.7875C10.2656 19.7875 11.5391 19.3172 12.55 18.5234C11.9339 18.5113 11.337 18.3073 10.8424 17.9399C10.3477 17.5724 9.98008 17.0598 9.79062 16.4734C10.2331 16.5576 10.6888 16.5399 11.1234 16.4219C10.4548 16.2867 9.85343 15.9243 9.42142 15.3963C8.9894 14.8684 8.75329 14.2072 8.75312 13.525V13.4891C9.15156 13.7094 9.60781 13.8438 10.0922 13.8594C9.46531 13.4421 9.02154 12.801 8.85163 12.0674C8.68172 11.3337 8.79852 10.5629 9.17812 9.9125C9.92024 10.825 10.8457 11.5715 11.8946 12.1036C12.9436 12.6357 14.0925 12.9417 15.2672 13.0016C15.1178 12.3677 15.1821 11.7022 15.45 11.1086C15.7179 10.515 16.1744 10.0265 16.7485 9.71916C17.3227 9.41178 17.9823 9.30269 18.6248 9.40886C19.2674 9.51503 19.8568 9.83051 20.3016 10.3062C20.9628 10.1754 21.5968 9.9329 22.1766 9.58906C21.9562 10.2736 21.4948 10.855 20.8781 11.225C21.4638 11.1545 22.0357 10.997 22.575 10.7578C22.1789 11.3514 21.6799 11.8694 21.1016 12.2875Z" fill="white"/>
                </svg>
            </a>
        </li>
        <li>
            <a class="linkedin" href="#">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 0C6.71562 0 0 6.71562 0 15C0 23.2844 6.71562 30 15 30C23.2844 30 30 23.2844 30 15C30 6.71562 23.2844 0 15 0ZM11.3281 21.2172H8.29062V11.4422H11.3281V21.2172ZM9.79062 10.2422C8.83125 10.2422 8.21094 9.5625 8.21094 8.72187C8.21094 7.86406 8.85 7.20469 9.82969 7.20469C10.8094 7.20469 11.4094 7.86406 11.4281 8.72187C11.4281 9.5625 10.8094 10.2422 9.79062 10.2422ZM22.4219 21.2172H19.3844V15.8C19.3844 14.5391 18.9437 13.6828 17.8453 13.6828C17.0063 13.6828 16.5078 14.2625 16.2875 14.8203C16.2062 15.0188 16.1859 15.3 16.1859 15.5797V21.2156H13.1469V14.5594C13.1469 13.3391 13.1078 12.3187 13.0672 11.4406H15.7062L15.8453 12.7984H15.9062C16.3062 12.1609 17.2859 11.2203 18.925 11.2203C20.9234 11.2203 22.4219 12.5594 22.4219 15.4375V21.2172Z" fill="white"/>
                </svg>
                

            </a>
        </li>
        <li>
            <a class="youtube" href="#">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.5047 14.7391L13.9953 13.1016C13.6891 12.9594 13.4375 13.1187 13.4375 13.4578V16.5422C13.4375 16.8813 13.6891 17.0406 13.9953 16.8984L17.5031 15.2609C17.8109 15.1172 17.8109 14.8828 17.5047 14.7391ZM15 0C6.71562 0 0 6.71562 0 15C0 23.2844 6.71562 30 15 30C23.2844 30 30 23.2844 30 15C30 6.71562 23.2844 0 15 0ZM15 21.0937C7.32188 21.0937 7.1875 20.4016 7.1875 15C7.1875 9.59844 7.32188 8.90625 15 8.90625C22.6781 8.90625 22.8125 9.59844 22.8125 15C22.8125 20.4016 22.6781 21.0937 15 21.0937Z" fill="white"/>
                </svg>
            </a>
        </li>
    </ul></p>
        <p>© 2020 Tokoplas. All Rights Reserved
        </p>
        </div
></template>
<script>
export default {
    name: 'FooterCopyright'
};
</script>
