<template lang="html">
    <div class="ps-footer__widgets">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
                <aside class="widget widget_footer widget_contact-us">
                    <nuxt-link to="/" class="ps-logo">
                        <img
                            src="~/static/img/Logo Tokoplas Horizontal White.png"
                            alt="Tokoplas"
                        />
                    </nuxt-link>
                    <div class="widget_content mt-8">
                        <p>
                            Jl. Cideng Barat no. 17, <br />
                            Jakarta 10140, Indonesia
                        </p>
                        <p>
                            Monday - Friday | 08:30 - 17:30 WIB <br />
                            Not applicable for weekends and public holidays
                        </p>
                        <p>
                            +62 21 2907 3222 <br />
                            <a href="mailto:hello@tokoplas.com"
                                >hello@tokoplas.com</a
                            >
                        </p>
                    </div>
                </aside>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 ">
                <aside class="widget widget_footer">
                    <h4 class="widget-title">
                        Customer Support
                    </h4>
                    <ul class="ps-list--linkfooter">
                        <li>
                            <a href="#">How to Order</a>
                        </li>
                        <li>
                            <a href="#">Frequently Asked Questions</a>
                        </li>
                        <li>
                            <a href="#">Selling on Tokoplas</a>
                        </li>
                        <li>
                            <a href="#">How Delivery Works</a>
                        </li>
                        <li>
                            <a href="#">Payment Methods</a>
                        </li>
                        <li>
                            <a href="#">Referral Program</a>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 ">
                <aside class="widget widget_footer">
                    <h4 class="widget-title">
                        Company Info
                    </h4>
                    <ul class="ps-list--linkfooter">
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">Partnership</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="#">Careers</a>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 ">
                <aside class="widget widget_footer">
                    <h4 class="widget-title">
                        Download Tokoplas App
                    </h4>
                    <div class="widget-app">
                        <nuxt-link to="/">
                        <img src="~/static/img/icons/Icon GP.svg" class="my-2"/>
                        </nuxt-link>
                        <nuxt-link to="/">
                        <img src="~/static/img/icons/Icon AS.svg" class="my-2"/>
                        </nuxt-link>
                    </div>
                    
                </aside>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'FooterWidgets'
};
</script>

<style lang="scss" scoped></style>
