<template lang="html">
    <v-app>
        <v-main>
            <header-tokoplas />
            <header-mobile />
            <main id="homepage-tokoplas">
                <home-banner />
                <home-block-content />
                <tokoplas-feature />
                <!-- <home-product /> -->
                    <product-tokoplas
                        v-if="collections !== null"
                        layout="fullwidth"
                        collection-slug="shop-recommend-items"
                    />
                    <product-tokoplas
                        v-if="collections !== null"
                        layout="fullwidth"
                        collection-slug="shop-recommend-items"
                    />
                <tokoplas-data />
                <tokoplas-callout />
                <contact-us />
                <footer-tokoplas />
            </main>
        </v-main>
    </v-app>
</template>
<script>
import { mapState } from 'vuex';
import FooterTokoplas from '~/components/shared/footers/FooterTokoplas';
import TokoplasFeature from '~/components/partials/homepage/tokoplas/TokoplasFeature';
import HomeProduct from '~/components/partials/homepage/tokoplas/HomeProduct';
import Clothings from '~/components/partials/homepage/default/Clothings';
import HomeBanner from '~/components/partials/homepage/tokoplas/HomeBanner';
import HeaderTokoplas from '~/components/shared/headers/HeaderTokoplas';
import NavigationList from '~/components/shared/mobile/NavigationList';
import HeaderMobile from '~/components/shared/mobile/HeaderMobile';
import MobileDrawer from '~/components/shared/mobile/MobileDrawer';
import HomeBlockContent from '../components/partials/homepage/tokoplas/HomeBlockContent';
import TokoplasCallout from '~/components/partials/homepage/tokoplas/TokoplasCallout';
import TokoplasData from '~/components/partials/homepage/tokoplas/TokoplasData';
import Product from '~/components/partials/homepage/default/Product';
import ContactUs from '~/components/partials/homepage/tokoplas/ContactUs';
import ProductTokoplas from '~/components/elements/product/ProductTokoplas';

export default {
    components: {
        Product,
        HomeProduct,
        MobileDrawer,
        HeaderMobile,
        NavigationList,
        HeaderTokoplas,
        HomeBanner,
        TokoplasFeature,
        FooterTokoplas,
        Clothings,
        HomeBlockContent,
        TokoplasCallout,
        TokoplasData,
        ContactUs,
        ProductTokoplas
    },

    transition: 'zoom',

    computed: {
        ...mapState({
            collections: state => state.collection.collections
        })
    },

    async created() {
        const queries = ['clothings', 'shop-recommend-items'];
        await this.$store.dispatch('collection/getCollectionsBySlugs', queries);
    }
};
</script>
<style lang="scss">
@import '~/assets/scss/tokoplas.scss';
</style>
