<template lang="html">
    <div class="ps-section--features">
        <div class="container">
            <div class="ps-section__header">
                <h4>
                    All Applications
                </h4>
            </div>
            <div class="ps-section__content">
                <app-links />
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        
                            <clothings v-if="collections !== null" collection-slug="clothings" />

                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <template v-if="collections !== null">
                            <clothings collection-slug="clothings" />
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AppLinks from '~/components/partials/features/modules/AppLinks';
import Clothings from '~/components/partials/homepage/default/Clothings';
import ConumerElectronics from '~/components/partials/homepage/default/ConumerElectronics';

export default {
    name: 'AllApplications',
    components: { 
        AppLinks,
        Clothings 
    }
};
</script>

<style lang="scss" scoped></style>
