<template lang="html">
    <div class="ps-section--features">
        <div class="container">
            <div class="ps-section__header">
                <h4>
                    All Brands
                </h4>
            </div>
            <div class="ps-section__content">
                <div class="table-responsive">
                    <table class="table ps-table--brands">
                        <thead>
                            <tr>
                                <th>Brand Name</th>
                                <th>Type</th>
                                <th>Application</th>
                                <th>Producer</th>
                                <th>Logo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Cosmothene
                                </td>
                                <td>
                                    PP Homopolymer
                                </td>
                                <td>
                                    Lamination
                                </td>
                                <td>
                                    Thai Plastic and Chemicals
                                </td>
                                <td>
                                    <img src="~/static/img/brands/scg-logo.png" width="50%">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Cosmothene
                                </td>
                                <td>
                                    PP Homopolymer
                                </td>
                                <td>
                                    Lamination
                                </td>
                                <td>
                                    Thai Plastic and Chemicals
                                </td>
                                <td>
                                    <img src="~/static/img/brands/scg-logo.png" width="50%">
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'AllBrands'
};
</script>

<style lang="scss" scoped></style>
