<template lang="html">
    <div class="ps-section--features">
        <div class="container">
            <div class="ps-section__header">
                <h4>
                    All Categories
                </h4>
            </div>
            <div class="ps-section__content">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 ">
                        <div class="ps-block--allcategories">
                            <div class="ps-block__categories">
                                    <div class="bg-firstcolor">
                                        <p>PE</p>
                                    </div>
                                    <h4>Polyethylene</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 ">
                        <div class="ps-block--allcategories">
                            <div class="ps-block__categories">
                                    <div class="bg-secondcolor">
                                        <p>PE</p>
                                    </div>
                                    <h4>Polypropylene</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 ">
                        <div class="ps-block--allcategories">
                            <div class="ps-block__categories">
                                    <div class="bg-thirdcolor">
                                        <p>PET</p>
                                    </div>
                                    <h4>Polyethylene Terephthalate</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 ">
                        <div class="ps-block--allcategories">
                            <div class="ps-block__categories">
                                    <div class="bg-fourthcolor">
                                        <p>PVS</p>
                                    </div>
                                    <h4>Polyvinyl Chloride</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 ">
                        <div class="ps-block--allcategories">
                            <div class="ps-block__categories">
                                    <div class="bg-secondcolor">
                                        <p>PS</p>
                                    </div>
                                    <h4>Polysterene</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 ">
                        <div class="ps-block--allcategories">
                            <div class="ps-block__categories">
                                    <div class="bg-thirdcolor">
                                        <p>PC</p>
                                    </div>
                                    <h4>Polycarbonate</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 ">
                        <div class="ps-block--allcategories">
                            <div class="ps-block__categories">
                                    <div class="bg-fourthcolor">
                                        <p>ABS</p>
                                    </div>
                                    <h4>Acrylonitrile Butadiene Styrene</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 ">
                        <div class="ps-block--allcategories">
                            <div class="ps-block__categories">
                                    <div class="bg-firstcolor">
                                        <p>RE</p>
                                    </div>
                                    <h4>Recycled</h4>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'AllCategories'
};
</script>

<style lang="scss" scoped></style>
